# URL del Backend en Producción
VITE_API_URL=https://api.fish-spot.app

# Firebase Client SDK
VITE_API_KEY=AIzaSyBCwm9A0b7BqqKdrM0zfUHi1CH79gTZNHs
VITE_AUTH_DOMAIN=fishspot-b6f63.firebaseapp.com
VITE_PROJECT_ID=fishspot-b6f63
VITE_STORAGE_BUCKET=fishspot-b6f63.firebasestorage.app
VITE_MESSAGING_SENDER_ID=658820866831
VITE_APP_ID=1:658820866831:web:dcc353810b7983f10f547a
VITE_MEASUREMENT_ID=G-KT0CBH5YPK
